// Blue
$color-blue-100: #EBF3FA;
$color-blue-200: #C0DAF1;
$color-blue-300: #7EB7ED;
$color-blue-400: #1673CA;
$color-blue-500: #14548F;
$color-blue-600: #0F3C67;

// Green
$color-green-100: #EBFAF0;
$color-green-200: #C2F0D1;
$color-green-300: #70DB94;
$color-green-400: #238644;
$color-green-500: #297041;
$color-green-600: #115026;

// Pink
$color-pink-100: #FBE9F1;
$color-pink-200: #F3BFD5;
$color-pink-300: #E477A5;
$color-pink-400: #B61E5D;
$color-pink-500: #881646;
$color-pink-600: #5C0F2F;

// Purple
$color-purple-100: #F8EBFA;
$color-purple-200: #EAC3EE;
$color-purple-300: #D07DD9;
$color-purple-400: #9C2AA7;
$color-purple-500: #76207E;
$color-purple-600: #501556;

// Neutral
$color-neutral-100: #FFFFFF;
$color-neutral-200: #F8F7F7;
$color-neutral-300: #CFC9CC;
$color-neutral-400: #B6AFB2;
$color-neutral-500: #9E9498;
$color-neutral-600: #86797E;
$color-neutral-700: #6B6165;
$color-neutral-800: #363033;

:export {
  blue100: $color-blue-100;
  blue200: $color-blue-200;
  blue300: $color-blue-300;
  blue400: $color-blue-400;
  blue500: $color-blue-500;
  blue600: $color-blue-600;

  green100: $color-green-100;
  green200: $color-green-200;
  green300: $color-green-300;
  green400: $color-green-400;
  green500: $color-green-500;
  green600: $color-green-600;

  pink100: $color-pink-100;
  pink200: $color-pink-200;
  pink300: $color-pink-300;
  pink400: $color-pink-400;
  pink500: $color-pink-500;
  pink600: $color-pink-600;

  purple100: $color-purple-100;
  purple200: $color-purple-200;
  purple300: $color-purple-300;
  purple400: $color-purple-400;
  purple500: $color-purple-500;
  purple600: $color-purple-600;

  neutral100: $color-neutral-100;
  neutral200: $color-neutral-200;
  neutral300: $color-neutral-300;
  neutral400: $color-neutral-400;
  neutral500: $color-neutral-500;
  neutral600: $color-neutral-600;
  neutral700: $color-neutral-700;
  neutral800: $color-neutral-800;
}
