// Blue
$color-blue-100: #EBF3FA;
$color-blue-200: #C0DAF1;
$color-blue-300: #7EB7ED;
$color-blue-400: #1673CA;
$color-blue-500: #14548F;
$color-blue-600: #0F3C67;

// Green
$color-green-100: #EBFAF0;
$color-green-200: #C2F0D1;
$color-green-300: #70DB94;
$color-green-400: #238644;
$color-green-500: #297041;
$color-green-600: #115026;

// Pink
$color-pink-100: #FBE9F1;
$color-pink-200: #F3BFD5;
$color-pink-300: #E477A5;
$color-pink-400: #B61E5D;
$color-pink-500: #881646;
$color-pink-600: #5C0F2F;

// Purple
$color-purple-100: #F8EBFA;
$color-purple-200: #EAC3EE;
$color-purple-300: #D07DD9;
$color-purple-400: #9C2AA7;
$color-purple-500: #76207E;
$color-purple-600: #501556;

// Neutral
$color-neutral-100: #FFFFFF;
$color-neutral-200: #F8F7F7;
$color-neutral-300: #CFC9CC;
$color-neutral-400: #B6AFB2;
$color-neutral-500: #9E9498;
$color-neutral-600: #86797E;
$color-neutral-700: #6B6165;
$color-neutral-800: #363033;
